fastapi
uvicorn[standard]
aiofiles
openai
python-dotenv
pydantic
pyautogui
pygetwindow
winrt-runtime
winrt-Windows.Foundation
winrt-Windows.Media.Ocr
winrt-Windows.Globalization
winrt-Windows.Graphics.Imaging
winrt-Windows.Storage
pywinauto
psutil
